html {
    font-size: 62.5%;
    scroll-behavior:smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:linear-gradient(90deg,RGBA(11, 9, 10, 1)50%,RGBA(40, 40, 50, 1),RGBA(70, 37, 80, 1));
}

:root{
    --dark:RGBA(11, 9, 10, 1);
    --medium-dark:RGBA(40, 40, 40, 1);
    --blue-deep:RGBA(53, 53, 80, 1);
    --dark-purple:RGBA(70, 37, 80, 1);
    --gold:RGBA(234, 194, 61, 1);
    --silver:RGBA(209, 209, 209, 1);
    --black:#000;
    --white:#fff;
}

